<!DOCTYPE html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="../static/style.css/">
	</head>
	<body>
		<h1>Index works!</h1>
		<p>The date and time on the server is: {{ time }}</p>
		<h2>Actuators</h2>
		<h3>Status</h3>
		<h4>Red Led   == > {{ ledRed }}</h4>
		<h4>White Led == > {{ ledWhite }}</h4>
		<br>
		<h3>Commands</h3>
		<h4>
			Red Led
			<a href="/ledRed/on">TURN ON</a>
			<a href="/ledRed/off">TURN OFF</a>			
		</h4>
		<h4>Timer WhiteLed</h4>
		<form action ="{{ url_for('handle_time') }}" method="post">
			<label>Start Hour</label>
			<input type="number" name="sTimerH">
			<label>Start Minute</label>
			<input type="number" name="sTimerM">
			<label>End Hour</label>
			<input type="number" name="eTimerH">
			<label>End Minute</label>
			<input type="number" name="eTimerM">
			<input type="submit" value="Submit">			
		</form>
		<h4>Timer is set from {{ sHour }} : {{ sMinute }} to {{ eHour }} : {{ eMinute }}</h4>
	</body>
</html>
